<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GoogleMapsAPI" value="AIzaSyBwIfGuhCMafED96C3aC0l6hKFdM-LrzME" />
    <add key="originLat" value="43.727667" />
    <add key="originLon" value="-79.391548" />
    <add key="destinationLat" value="43.77158" />
    <add key="destinationLon" value="-79.623338" />
    <add key="originAltitude" value="500" />
    <add key="maxAltitude" value="800" />
    <add key="ascendDescendRate" value="20" />
    <add key="flightSpeed" value="20" />
    <add key="heartbeats" value="250" />
  </appSettings>
</configuration>